@model ProjetoCidade1.Models.Usuário;

<link href="~/css/login.css" rel="stylesheet" />

<h1 class="login-title">Login</h1>

<form asp-action="Login" method="post" class="login-form">
    <div class="form-group">
        <label>Email:</label>
        <input type="email" name="email" required class="form-control" />
    </div>
    <div class="form-group">
        <label>Senha:</label>
        <input type="password" name="senha" required class="form-control" />
    </div>
    <button type="submit" class="btn btn-secondary">Login</button>
</form>